body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center; color: whitesmoke;
    background-color: black;
}

main{
    background-color: darkblue;
    height: 50vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 2px 2px 2px whitesmoke;
}

input,button{
    padding: .7em;
    border: none;
    border-radius: 1em;
    outline: none;
}

button{
    background-color: crimson;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

button:hover{
    opacity: 1;
}